{
    "name": "%%% 1 %%%",
    "version": "1.0.0",
    "main": "dist/index.js",
    "license": "MIT",
    "scripts": {
        "run-script": "ts-node --project config/tsconfig.script.json",
        "format": "yarn run-script script/format.ts",
        "lint": "yarn run-script script/lint.ts",
        "build": "yarn run-script script/build.ts",
        "test": "TS_NODE_PROJECT='./config/tsconfig.test.json' mocha --require ts-node/register ./test/**/*.test.ts"
    },
    "files": ["dist/**"]
}
