{
    "name": "@%%% 1 %%%/api",
    "version": "1.0.0",
    "license": "MIT",
    "private": true,
    "scripts": {
        "prebuild": "rimraf dist",
        "build": "nest build -c ./nestjs-cli.json",
        "start": "nest start",
        "start:dev": "nest start --watch",
        "start:debug": "nest start --debug --watch",
        "start:prod": "node dist/main"
    }
}