import React from 'react';
import ReactDOM from 'react-dom/client';

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion -- defined
const element = document.getElementById('app')!;
const root = ReactDOM.createRoot(element);
root.render(<h1>hello world</h1>);
