{
    "$schema": "https://json.schemastore.org/tsconfig",
    "extends": "./tsconfig.base.json",
    "compilerOptions": {
        "target": "ES5",

        "sourceMap": true,
        "inlineSources": true,

        "baseUrl": "../src",

        "importsNotUsedAsValues": "preserve",
        "isolatedModules": true
    },
    "include": ["../src"]
}
