{
    "$schema": "https://json.schemastore.org/tsconfig",
    "extends": "./tsconfig.base.json",
    "compilerOptions": {
        "target": "ES5",
        "noEmit": true,
        "rootDir": "../script"
    },
    "include": ["../script"]
}
